$main-text: #254F91;
$sub-text: #55648A;
$user-text: #27476F;
$border-color: #9aa9d1;
$text-red: #b73737;
$text-green: #1d8749;
$text-yellow: #E6A23C;
$text-secondary-gray: #909399;
$text-gray: #C0C4CC;
$main-title-color: rgba(0, 0, 0, 0.7);
$avatar-border: rgba(160, 161, 164, 0.24);
$avatar-shadow: rgba(0, 0, 0, 0.2);
$avatar-bg: #FFFFFFC0;

$content-link-bg: #FFFFFF4D;

.text-red{
  color: #b73737;
}

.text-green{
  color: #1d8749;
}

.text-yellow{
  color: #E6A23C;
}

.text-gray{
  color: #C0C4CC;
}
